# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. GGPlot
5. Plotly

| Data Science Tools |
| :----------------: |
| Apache Spark |
| TensorFlow |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x=(3*4)+5
print(x)
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
min=200
hrs=min/60
print(hrs,"hours")
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335 hours

Objectives:
* List of Popular Data Science Languages
* List of Popular Data Science Libraries
* List of various open source Data Science Platforms
* Examples of Arithmetic Expressions in Python

## Author
Aryan Bali